@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500; 600; 700 & display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient( rgba(41,9,121,1)  0%, rgba(0,168,255,1)  130px, #b6eaff 130px,#b6eaff 100%);
    /*background: rgb(0,27,36);
    background: linear-gradient(310deg, rgba(0,27,36,0.711922268907563) 0%, rgba(41,9,121,1) 33%, rgba(0,168,255,1) 100%);*/
}
.container{
    display: flex;
    position: relative;
    width: 100%;
    height: 100vh;
   /* width: 1396px;
    max-width: 100%;
    height: calc(100vh - 40px);*/
    background: rgb(0, 0, 0);
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.06),0 2px 5px 0 rgba(0,0,0,0.06);
}
.container .left-container{
    position: relative;
    flex: 30%;
    background: rgb(30, 30, 32);
    border-right: 1px solid rgb(48, 48, 48);
}
.container .rigth-container{
    position: relative;
    flex: 70%;
    background: rgb(0, 0, 0);
}
.container .rigth-container::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(background.png);
    opacity: 0.086;
}
.search-container{
    display: flex;
    position: relative;
    width: 100%;
    height: 50px;
    background-color: rgb(41, 41, 41);
    justify-content: center;
    align-items: center;
    padding: 0.15px;
}
.search-container div{
    width: 100%;
}
.search-container div input
{
    margin: 10px;
    width: 95%;
    border: none;
    outline: none;
    background: #fff;
    padding: 6px;
    height: 38px;
    border-radius: 30px;
    font-size: 14px;
    padding-left: 40px;

}
.search-container div ion-icon{
    position: absolute;
    left: 16px;
    top: 14px;
    font-size: 1.2em;
}
.chatlist{
    position: relative;
    height: calc(100% - 110px);
    overflow-y: auto;
}
.chatlist .block{
    display: flex;
    position: relative;
    width: 100%;
    align-items: center;
    padding: 15px;
    border-bottom: 1px solid rgba(29, 29, 29, 0.86);
    cursor: pointer;
    border-radius: 15px;
}
.chatlist .block:hover{
    background: rgb(66, 66, 66);
}
.chatlist .block .details{
    position: relative;
    width: 100%;
}
.chatlist .block .details .head{
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}
.chatlist .block .details .head h4{
    font-size: 1.1em;
    font-weight: 600;
    color: rgb(255, 255, 255);
}
.chatlist .block .details .head .time{
    font-size: 0.75em;
    color: grey;
}
.message-left{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.message-left p{
    color: #aaa;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    font-size: 0.9em;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.message-left b{
    background: royalblue;
    color: #fff;
    min-width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.75em;
}
.rigth-container .header{
    display: flex;
    position: relative;
    width: 100%;
    align-items: center;
    padding: 15px;
    background: rgb(30, 30, 32);
    border-bottom: 1px solid rgba(29, 29, 29, 0.86);
    cursor: pointer;
}
.imgText{
    position: relative;
    display: flex;
    justify-content: end;
    align-items: flex-end;
}
.imgText h4{
    font-weight: 400;
    line-height: 1.2em;
    margin-left: 10px;
    color: #fff;
}
.imgText h4 span{
    font-size: 0.8em;
    color: rgb(163, 163, 163);
}
.chat-box{
    position: relative;
    width: calc(100% - 120px);
    padding: 50px;
    overflow-y: auto;
}
.message{
    position: relative;
    display: flex;
    width: 100%;
    margin: 5px 0;
}
.message p{
    position: relative;
    right: 0;
    text-align: right;
    max-width: 65%;
    padding: 12px;
    background: rgb(41, 41, 41);
    border-radius: 10px;
}